@keyframes cycle-logo {
  0%, 16.65% {
    content:
      '                    .                    \A'
      '    ##############..... ##############   \A'
      '    ##############......##############   \A'
      '      ##########..........##########     \A'
      '      ##########........##########       \A'
      '      ##########.......##########        \A'
      '      ##########.....##########..        \A'
      '      ##########....##########.....      \A'
      '    ..##########..##########.........    \A'
      '  ....##########.#########.............  \A'
      '    ..################............       \A'
      '      ################.............      \A'
      '      ##############....................  \A'
      '      ############...................    \A'
      '      ##########....................     \A'
      '      ########...................        \A'
      '      ######    .........                \A'
      '                  .....                  \A'
      '                    .                    ';
  }
  16.66%, 33.32% {
    content:
      '                                                                       \A'
      '    ██████   █████                   █████   █████  ███                  \A'
      '   ░░██████ ░░███                   ░░███   ░░███  ░░░                   \A'
      '    ░███░███ ░███   ██████   ██████  ░███    ░███  ████  █████████████   \A'
      '    ░███░░███░███  ███░░███ ███░░███ ░███    ░███ ░░███ ░░███░░███░░███  \A'
      '    ░███ ░░██████ ░███████ ░███ ░███ ░░███   ███   ░███  ░███ ░███ ░███  \A'
      '    ░███  ░░█████ ░███░░░  ░███ ░███  ░░░█████░    ░███  ░███ ░███ ░███  \A'
      '    █████  ░░█████░░██████ ░░██████     ░░███      █████ █████░███ █████ \A'
      '   ░░░░░    ░░░░░  ░░░░░░   ░░░░░░       ░░░      ░░░░░ ░░░░░ ░░░ ░░░░░  \A'
      '                                                                        ';
  }
  33.33%, 49.99% {
    content:
      '  ███▄    █ ▓█████  ▒█████   ██▒   █▓ ██▓ ███▄ ▄███▓ \A'
      '  ██ ▀█   █ ▓█   ▀ ▒██▒  ██▒▓██░   █▒▓██▒▓██▒▀█▀ ██▒ \A'
      '  ▓██  ▀█ ██▒▒███   ▒██░  ██▒ ▓██  █▒░▒██▒▓██    ▓██░ \A'
      '  ▓██▒  ▐▌██▒▒▓█  ▄ ▒██   ██░  ▒██ █░░░██░▒██    ▒██  \A'
      '  ▒██░   ▓██░░▒████▒░ ████▓▒░   ▒▀█░  ░██░▒██▒   ░██▒ \A'
      '  ░ ▒░   ▒ ▒ ░░ ▒░ ░░ ▒░▒░▒░    ░ ▐░  ░▓  ░ ▒░   ░  ░ \A'
      '  ░ ░░   ░ ▒░ ░ ░  ░  ░ ▒ ▒░    ░ ░░   ▒ ░░  ░      ░ \A'
      '    ░   ░ ░    ░   ░ ░ ░ ▒       ░░   ▒ ░░      ░    \A'
      '          ░    ░  ░    ░ ░        ░   ░         ░    \A'
      '                                 ░                   ';
  }
  50%, 66.65% {
    content:
      ' ███▄▄▄▄      ▄████████  ▄██████▄   ▄█    █▄   ▄█    ▄▄▄▄███▄▄▄▄   \A'
      ' ███▀▀▀██▄   ███    ███ ███    ███ ███    ███ ███  ▄██▀▀▀███▀▀▀██▄ \A'
      ' ███   ███   ███    █▀  ███    ███ ███    ███ ███▌ ███   ███   ███ \A'
      ' ███   ███  ▄███▄▄▄     ███    ███ ███    ███ ███▌ ███   ███   ███ \A'
      ' ███   ███ ▀▀███▀▀▀     ███    ███ ███    ███ ███▌ ███   ███   ███ \A'
      ' ███   ███   ███    █▄  ███    ███ ███    ███ ███  ███   ███   ███ \A'
      ' ███   ███   ███    ███ ███    ███ ███    ███ ███  ███   ███   ███ \A'
      '  ▀█   █▀    ██████████  ▀██████▀   ▀██████▀  █▀    ▀█   ███   █▀  ';
  }
  66.66%, 83.32% {
    content:
      '                                                                       \A'
      '                                                                     \A'
      '       ████ ██████           █████      ██                     \A'
      '      ███████████             █████                             \A'
      '      █████████ ███████████████████ ███   ███████████   \A'
      '     █████████  ███    █████████████ █████ ██████████████   \A'
      '    █████████ ██████████ █████████ █████ █████ ████ █████   \A'
      '  ███████████ ███    ███ █████████ █████ █████ ████ █████  \A'
      ' ██████  █████████████████████ ████ █████ █████ ████ ██████ \A'
      '                                                                       ';
  }
  83.33%, 100% {
    content:
      '                                                                         \A'
      '                               :                                         \A'
      ' L.                     ,;    t#,                                        \A'
      ' EW:        ,ft       f#i    ;##W.              t                        \A'
      ' E##;       t#E     .E#t    :#L:WE              Ej            ..       : \A'
      ' E###t      t#E    i#W,    .KG  ,#D  t      .DD.E#,          ,W,     .Et \A'
      ' E#fE#f     t#E   L#D.     EE    ;#f EK:   ,WK. E#t         t##,    ,W#t \A'
      ' E#t D#G    t#E :K#Wfff;  f#.     t#iE#t  i#D   E#t        L###,   j###t \A'
      ' E#t  f#E.  t#E i##WLLLLt :#G     GK E#t j#f    E#t      .E#j##,  G#fE#t \A'
      ' E#t   t#K: t#E  .E#L      ;#L   LW. E#tL#i     E#t     ;WW; ##,:K#i E#t \A'
      ' E#t    ;#W,t#E    f#E:     t#f f#:  E#WW,      E#t    j#E.  ##f#W,  E#t \A'
      ' E#t     :K#D#E     ,WW;     f#D#;   E#K:       E#t  .D#L    ###K:   E#t \A'
      ' E#t      .E##E      .D#;     G#t    ED.        E#t :K#t     ##D.    E#t \A'
      ' ..         G#E        tt      t     t          E#t ...      #G      ..  \A'
      '             fE                                 ,;.          j           \A'
      '              ,                                                          ';
  }
}
